<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %>
    <main class="parent">
        <%- include("../partials/left-div.ejs") %>
        <div>
            <div class="navbar2">
                <a href="/anime"><button>Home</button></a>
            </div>
        <form action="/anime/<%= anime._id %>?_method=PUT" method="post">
        <fieldset>
            <legend>Edit <%= anime.name %> </legend>
            <label>
                Title: <input type="text" name="title" placeholder="enter anime title" value="<%= anime.title %>">
            </label>
            <label>
                Completed: <input type="checkbox" name="completed" <%= anime.completed  ? "checked" : "" %>>
            </label>
            <label>
                Year Released: <input type="number" name="yearReleased" value="<%= anime.watchedEpisodes %>">
            </label>
            <label>
                Watched Episodes: <input type="number" name="watchedEpisodes" value="<%= anime.watchedEpisodes %>">
            </label>
            <label>
                Total Episodes: <input type="number" name="totalEpisodes" value="<%= anime.totalEpisodes %>">
            </label>
        </fieldset>
        <div class="create-new">
        <input type="submit" value="Update anime">
    </div>
        </form>
        </div>
        <%- include("../partials/right-div.ejs") %>
        <%- include("../partials/footer.ejs") %> 
    </main>
</body>
</html>