<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <h2><%= anime.title %> - <%= anime.completed ? "Completed" : "Not Completed" %></h2>
        <h3>Year Released: <%= anime.yearReleased %></h3>
        <h3>Watched Episodes: <%= anime.watchedEpisodes %></h3>
        <h3>Total Episodes: <%= anime.totalEpisodes %></h3>
        <a href="/anime/<%= anime._id %>/edit"><button>Edit</button></a>
        <form action="/anime/<%= anime._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
        </form>
    </main>
</body>
</html>